* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.text-title{
    color: #8193d6;
}

.container-chat {
    /* background-color: rgb(240, 240, 247); */
    padding: 20px;
    border: 1px solid gainsboro;
    border-radius: 5px;
}

.container-messsages {
    height: 350px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.container__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 27px;
    padding-bottom: 15px;
}

.card {
    padding: 5px;
    background-color: #f8f9fa;
    color: black;
    margin-top: 5px;
    border-radius: 5px;
    width: auto;
}

.card__question {
    padding: 5px;
    background-color: #8193d6;
    color: white;
    margin-top: 5px;
    border-radius: 5px;
    color:white
}

.card__header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #8193d6;
}

.card__body {
    text-align: right;
    color: gray;
}
